<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <!-- CSS only -->
  <link rel="stylesheet" th:href="@{/assets/style2.css}"/>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <title>Battle reports</title>
</head>

<body>
<div th:replace="game/fragments :: nav">
</div>
<br>
<div class="middleb">
  <!--data, kogo,jak, wynik, detale -->
  <table class="sortable" id="listTable" >
    <tr>
      <th>Date</th>
      <th>Attack/defense</th>
      <th>Opponent</th>
      <th>result</th>
      <th>deails</th>
    </tr>
    <tr th:each="att : ${attRep}"  class="item">
      <td th:text="${#strings.substring(att.createDateTime,0,10)}+' '+${#strings.substring(att.createDateTime,11,16)} "></td>
      <td><img th:src="@{/images/att.png}" style="width:86px;height:86px;"/></td>
      <td th:text="${att.defender.nick=='admin'? 'Dungeon battle' : att.defender.nick}"></td>
      <td th:text="${att.log.winner.name=='ATTACKER'? 'You won': 'You lost'}">
      <td>to do- detail redirect</td>
    </tr>

  </table>
</div>
</div>
<div id="popup3">
  <div class="settingList">
    <div class="settingField">Opcje</div><br>
    <div class="settingField">Twórcy</div><br>
    <div class="settingField"><a th:href="@{/logout}">Wyloguj</a></div><br>
    <div class="settingField"><a href="#" onclick="toggle3()">Wróć</a></div>
  </div>
</div>
</body>
<script type="text/javascript">

  function toggle3()
  {
    var blur=document.getElementById('shop1');
    blur.classList.toggle('active');
    var popup3=document.getElementById('popup3');
    popup3.classList.toggle('active');
  }
</script>
</html>