<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="/../static/assets/style2.css"  th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>
<body>
<div th:replace="game/fragments :: nav">
</div>
    <br>
    <div class="middleb">
        <!--content-->
        <table class="listTable">
            <tr th:each="item : ${chestList}">
                <td style="width:20%;"><h3 th:text="${item.name}"></h3></td>

                <td style="width:30%"><img th:src="@{'/images/chest/'+${item.idChest}+'.png'}" alt="chest image" style="max-height: 200px"/></td>

                <td th:if="${item.releasedAt.after(#dates.createNow())} OR ${item.expiresAt.before(#dates.createNow())} ">Chest currently unavailable</td>

                <td th:if="${item.releasedAt.before(#dates.createNow())} AND ${item.expiresAt.after(#dates.createNow())} " th:text="'Chest available until '+${#strings.substring(item.expiresAt,0,10)}"></td>

               <span th:if="${item.releasedAt.before(#dates.createNow())} AND ${item.expiresAt.after(#dates.createNow())} " >
                   <td style="width:20%" >
                       <a th:href="@{'/game/chests/open/'+${item.idChest}}" style="text-decoration: none; color: black"><div style="width: 100%; height: 100%;"><img th:src="@{/images/cart.png}" alt="buy" style="width:86px;height:86px;"/><br><span th:text="${item.price}+'$'"></span></div></a></td>
               </span>
                <td style="width:20%" th:if="${item.releasedAt.after(#dates.createNow())} OR ${item.expiresAt.before(#dates.createNow())} " ><a href="#" ><img th:src="@{/images/unavailable.png}" alt="buy" style="width:86px;height:86px;"/></a></td>
                <td style="width:10%"><a th:href="@{'/game/chests/'+${item.IdChest}}" style="text-decoration: none; color: black"><div><img th:src="@{/images/info.png}" alt="more info"  style="width:86px;height:86px;"/><br>More info</div></a></td>
            </tr>
        </table>
        <!--e-->
    </div>
</div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div><br>
        <div class="settingField">Twórcy</div><br>
        <div class="settingField"><a th:href="@{/logout}">Wyloguj</a></div><br>
        <div class="settingField">
            <a href="#" onclick="toggle3()">Wróć</a>
        </div>
    </div>
</div>

<div id="popup4">
    <table class="listTable">
        <tr>
            <td style="width:20%;"><h3>Shit tier waifu</h3></td>
            <td style="width:30%"><img src="../../static/images/waifu-1.png" th:src="@{../../images/waifu-1.png}" alt="chest image" style="width:420px;height:auto;"/></td>
            <td style="width:20%">Common 90%</td>
       </tr>
        <tr>
            <td style="width:20%;"><h3>Decent Waifu</h3></td>
            <td style="width:30%"><img src="../../static/images/waifu-2.jpeg" th:src="@{../../images/waifu-2.jpeg}" alt="chest image" style="width:420px;height:auto;"/></td>
            <td style="width:20%">Super rare 8%</td>
        </tr>
        <tr>
            <td style="width:20%;"><h3>God tier waifu</h3></td>
            <td style="width:30%"><img src="../../static/images/waifu-3.png" th:src="@{../../images/waifu-3.png}" alt="chest image" style="width:420px;height:auto;"/></td>
            <td style="width:20%">SSR: 2% <br> Super Super Rare 2%</td>
    </tr>
    </table>
    <div class="settingField">
    <a href="#" onclick="toggle4()" >Wróć</a>
    </div>
</div>


</body>
<script type="text/javascript">

    function toggle4()
    {
        var blur=document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup4=document.getElementById('popup4');
        popup4.classList.toggle('active');
    }
    function toggle3()
    {
        var blur=document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3=document.getElementById('popup3');
        popup3.classList.toggle('active');
    }
</script>
</html>