<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="/../static/assets/style2.css" rel="stylesheet" th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>
<body>
<div th:replace="game/fragments :: nav">
</div>
    <br>
    <div class="middle">
        <table class="listTable">
            <tr><td>
                <h2 th:text="${result.isWinner} ? 'You won!' : 'You lost!'"/>
            </td></tr>
            <tr>
                <td th:text="'You gained '+${result.balanceReward}+'$'"/>
            </tr>
            <tr th:each="reward : ${result.rewardList}">
                <td th:text="${reward.quantity}+'x '+${reward.reward.name}"></td>
            </tr>
            <!--
            <tr>
                <td th:text="${result.rewardList[0].reward.name}"/>
            </tr> -->



        </table>

    </div>
</div>
</body>
<script type="text/javascript">

</script>
</html>