<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="/../static/assets/style2.css" th:href="@{/../../static/assets/style2.css}"/>

    <title>Login to Gacha</title>
</head>
<body>
<div class="container"  id="shop1">
<div>
<table class='headertable'>
<tr>
<td class="playerinfo"  rowspan= 2>
    <table class="border">
        <tr>
            <td>Attack on titan enjoyer</td>
            <td rowspan="3" class="rightAlign">Lvl 12</td>
        </tr>
        <tr>
            <td>Citizen ID: 2136420</td>
        </tr>
        <tr>
            <td>#drugie ID?xd</td>
        </tr>
    </table>
</td>
<td class="currencytab"><a href="#" onclick="toggle()"><img src="../../static/images/plus.png" th:src="@{../../images/plus.png}" alt="Add shit" style="width:42px;height:42px;"></a>2137</td>

    <td><a href="#" onclick="toggle3()"><img src="../../static/images/cog.png"  th:src="@{../../images/cog.png}" alt="Options" style="width:42px;height:42px;"></a></td>
</tr>
<tr>
    <td class="currencytab"><a href="#" onclick="toggle2()"><img src="../../static/images/plus.png"  th:src="@{../../images/plus.png}" alt="Add shit" style="width:42px;height:42px;"></a>100/100
    </td>
</tr>
</table>
</div>
<br>
    <div class="middle">

new nigga unlocked

    </div>
<br>
<!--nav table -->
    <div>
<table class="navtable">
    <tr>
        <td class="navfield"><a href="">Equipment</a> </td>
        <td class="navfield"><a href="">Summon</a> </td>
    </tr>
    <tr>
        <td class="navfield"><a href="">PvE</a></td>
        <td class="navfield"><a href="">PvP</a> </td>
    </tr>
</table>
    </div>
</div>

<div id="popup1">
    <table class="shoptable">
        <tr>
            <td class="pricintfield">5<br>
                <img src="../../static/images/item1.png"  th:src="@{../../images/item1.png}"/></td></td>
            <td class="pricintfield">6<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td></td></td>
            <td class="pricintfield">7<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td></td></td>
            <td class="pricintfield">8<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td></td></td>
        </tr>
    </table>
    <br>
    <form  class="pricing">
        <label>
            <input type="radio" name="optradio"  checked>Option 1
        </label>
        <label>
            <input type="radio" name="optradio" >Option 2
        </label>
        <label >
            <input type="radio" name="optradio" >Option 3
        </label>
        <label >
            <input type="radio" name="optradio">Option 4
        </label>
    </form>
    <br>
    <div class="navfield">
    <a href="#" onclick="toggle()">Wróć</a>
    </div>
</div>
<div id="popup2">
    <table class="shoptable">
        <tr>
            <td class="pricintfield">5<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/> </td>
            <td class="pricintfield">6<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
            <td class="pricintfield">7<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
            <td class="pricintfield">8<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
        </tr>
    </table>
    <br>
    <form  class="pricing">
        <label>
            <input type="radio" name="optradio"  checked>Option 1
        </label>
        <label>
            <input type="radio" name="optradio" >Option 2
        </label>
        <label >
            <input type="radio" name="optradio" >Option 3
        </label>
            <label >
                <input type="radio" name="optradio">Option 4
        </label>
    </form>
    <br>

    <div class="navfield">
        <a href="#" onclick="toggle2()">Wróć</a>
    </div>
    <div class="navfield"> <a href="#" >kup</a></div>
</div>
<div id="popup3">
<div class="settingList">
    <div class="settingField">Opcje</div><br>
    <div class="settingField">Twórcy</div><br>
    <div class="settingField">Wyloguj</div><br>
    <div class="settingField">
        <a href="#" onclick="toggle3()">Wróć</a>
    </div>
</div>


</div>
</body>
<script type="text/javascript">
    function toggle()
    {
        var blur=document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup1=document.getElementById('popup1');
        popup1.classList.toggle('active');
    }
    function toggle2()
    {
        var blur=document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup2=document.getElementById('popup2');
        popup2.classList.toggle('active');
    }
    function toggle3()
    {
        var blur=document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3=document.getElementById('popup3');
        popup3.classList.toggle('active');
    }
</script>
</html>