<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="/../static/assets/style2.css" rel="stylesheet" th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>
<body>
<div th:replace="game/fragments :: nav">
    </div>

    <br>
    <div class="middle">

        <div>
            <table class="playerDetail">
                <tr>
                    <td style="width: 100%;">User details</td>
                </tr>
            </table>
        </div>
        <br>
        <div>
            <table class="playerDetail">

                <tr>
                    <td th:text="${player.PremiumLeft ==0} ? 'Premium status: expired' : 'Premium status: '+${player.PremiumLeft}+' days left'"></td>
                    <td>TO DO PREMIUM SHOP REDIRECT</td>
                </tr>
                <tr>
                    <td th:text="'Your ELO points- '+${player.eloPoints}"></td>
                </tr>
            </table>
        </div>
        <br>


    </div>
</div>
<!--nav table
    <div>
<table class="navtable">
    <tr>
        <td class="navfield"><a th:href="@{/game/equipment}">Equipment</a> </td>
        <td class="navfield"><a th:href="@{/game/chests}">Chests</a> </td>
    </tr>
    <tr>
        <td class="navfield"><a th:href="@{/game/dungeons}">PvE</a></td>
        <td class="navfield"><a th:href="@{/game/pvp}">PvP</a> </td>
    </tr>
</table>
    </div>
</div>
 -->
<div id="popup1">
    <table class="shoptable">
        <tr>
            <td class="pricintfield">5<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td>
            </td>
            <td class="pricintfield">6<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td>
            </td></td>
            <td class="pricintfield">7<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td>
            </td></td>
            <td class="pricintfield">8<br>
                <img src="../../static/images/item1.png" th:src="@{../../images/item1.png}"/></td>
            </td></td>
        </tr>
    </table>
    <br>
    <form class="pricing">
        <label>
            <input checked name="optradio" type="radio">Option 1
        </label>
        <label>
            <input name="optradio" type="radio">Option 2
        </label>
        <label>
            <input name="optradio" type="radio">Option 3
        </label>
        <label>
            <input name="optradio" type="radio">Option 4
        </label>
    </form>
    <br>
    <div class="navfield">
        <a class="nav-link" href="#" onclick="toggle()">Wróć</a>
    </div>
</div>
<div id="popup2">
    <table class="shoptable">
        <tr>
            <td class="pricintfield">5<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
            <td class="pricintfield">6<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
            <td class="pricintfield">7<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
            <td class="pricintfield">8<br>
                <img src="../../static/images/chest1.jpg" th:src="@{../../images/chest1.jpg}"/></td>
        </tr>
    </table>
    <br>
    <form class="pricing">
        <label>
            <input checked name="optradio" type="radio">Option 1
        </label>
        <label>
            <input name="optradio" type="radio">Option 2
        </label>
        <label>
            <input name="optradio" type="radio">Option 3
        </label>
        <label>
            <input name="optradio" type="radio">Option 4
        </label>
    </form>
    <br>

    <div class="navfield">
        <a href="#" onclick="toggle2()">Wróć</a>
    </div>
    <div class="navfield"><a href="#">kup</a></div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div>
        <br>
        <div class="settingField">Twórcy</div>
        <br>
        <div class="settingField"><a th:href="@{/logout}">Wyloguj</a></div>
        <br>
        <div class="settingField">
            <a href="#" onclick="toggle3()">Wróć</a>
        </div>
    </div>
</div>
<div id="premium-popup" th:if="${premiumRewards != null}">
    <div class="premium-content">
        <button class="premium-close-button" onclick="closePremiumRewards()">X</button>
        <h1>Daily Premium Rewards Collection</h1>
        <span class="premium-entry" th:text="'$$$: '"></span>
        <span th:text="${premiumRewards.balance}"></span> <br>
        <span th:each="material : ${premiumRewards.materials}">
            <span class="premium-entry" th:text="${material.key.name}+': '"></span>
            <span th:utext="${material.value}+'<br>'"></span>
        </span>
        <button class="premium-close-button-2" onclick="closePremiumRewards()">Close</button>
    </div>
</div>
</body>
<script type="text/javascript">
    function toggle() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup1 = document.getElementById('popup1');
        popup1.classList.toggle('active');
    }

    function toggle2() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup2 = document.getElementById('popup2');
        popup2.classList.toggle('active');
    }

    function toggle3() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3 = document.getElementById('popup3');
        popup3.classList.toggle('active');
    }

    function closePremiumRewards(){
        var premiumPopup = document.getElementById('premium-popup');
        premiumPopup.style.display = "none";
    }
</script>
</html>