<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link href="/../static/assets/style2.css" rel="stylesheet" th:href="@{/assets/style2.css}"/>

    <title>Login to Gacha</title>
</head>
<body>
<div class="container" id="shop1">
    <div>
        <table class='headertable'>
            <tr>
                <td class="playerinfo" rowspan=2>
                    <table class="border">
                        <tr>
                            <td class="pagename" colspan="5"><h2 th:text="'Greetings, '+${player.nick}"></h2></td>
                        </tr>
                        <tr>
                            <td class="navfield"><a class="nav-link" th:href="@{/game/home}">Home</a></td>
                            <td class="navfield"><a class="nav-link" th:href="@{/game/equipment}">Equipment</a></td>
                            <td class="navfield"><a class="nav-link" th:href="@{/game/chests}">Chests</a></td>
                            <td class="navfield"><a class="nav-link" th:href="@{/game/dungeons}">PvE</a></td>
                            <td class="navfield"><a class="nav-link-current" th:href="@{/game/pvp}">PvP</a></td>
                        </tr>
                    </table>
                </td>

                <!-- currency -->
                <td class="currencytab"><a href="#" onclick="toggle()"><img alt="Add shit"
                                                                            src="../../static/images/plus.png"
                                                                            style="width:42px;height:42px;"
                                                                            th:src="@{../../images/plus.png}"></a>
                    <span th:text="${player.PlayerBalance}+'$'"/></td>
                <td><a href="#" onclick="toggle3()"><img alt="Options"
                                                         src="../../static/images/cog.png"
                                                         style="width:42px;height:42px;"
                                                         th:src="@{../../images/cog.png}"></a></td>
            </tr>
            <tr>
                <!-- stamina-->
                <td class="currencytab"><a href="#" onclick="toggle2()"><img alt="Add shit"
                                                                             src="../../static/images/plus.png"
                                                                             style="width:42px;height:42px;"
                                                                             th:src="@{../../images/plus.png}"></a>
                    <span th:text="'Stamina:'+${player.Stamina}+'/100'"/>
                </td>
            </tr>

        </table>
    </div>
    <br>
    <div class="middleb">
        <p th:text="${error != null} ? ${error} : ''"></p>
        <table class="pvp-battle-log">
            <tr>
                <td class="pvp-result">BATTLE LOG:</td>
            </tr>
            <tr th:each="be : ${log}">
                    <td class="pvp-entry-attacker" th:if="${be.side.name() == 'ATTACKER'}"
                          th:text="${be.entry}"></td>
                    <td class="pvp-entry-defender" th:if="${be.side.name() == 'DEFENDER'}"
                          th:text="${be.entry}"></td>
                    <td class="pvp-entry" th:if="${be.side.name() == 'SYSTEM' && be.type.name() != 'WINNER' && be.type.name() != 'LOSER'}"
                          th:text="${be.entry}"></td>
                <td class="pvp-result" th:if="${ be.type.name() == 'WINNER' || be.type.name() == 'LOSER'}"
                    th:text="${be.entry}"></td>
            </tr>
            <tr><td class="pvp-result" th:text="'New ELO: '+${player.getEloPoints()}">
            </td></tr>
        </table>
    </div>
</div>
<!-- end list -->
<div>
    <table class="navtableb">
        <tr>
            <td class="navfield"><a th:href="@{/game/home}">Wróć</a></td>

        </tr>
    </table>

</div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div>
        <br>
        <div class="settingField">Twórcy</div>
        <br>
        <div class="settingField">Wyloguj</div>
        <br>
        <div class="settingField">
            <a href="#" onclick="toggle3()">Wróć</a>
        </div>
    </div>
</div>
</div>
</body>

<script type="text/javascript">

    function toggle3() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3 = document.getElementById('popup3');
        popup3.classList.toggle('active');
    }

    $(".pvp-battle-log tr").each(function () {
        $(this).fadeIn($(this).index() * 350);
    });
</script>
</html>