<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style2.css}" rel="stylesheet" />
    <title>Create Gacha Account</title>
</head>
<body>
<div>
    <h1 style="text-align: center">Create a Gacha account.</h1>
    <form th:action="@{/signup}" th:method="post" th:object="${newPlayer}">
        <table class="signup-table">
            <tr>
                <td th:colspan="2" class="head-cell">New Account</td>
            </tr>
            <tr>
                <td>Login:</td>
                <td><input name="nick" type="text"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td>Birth date:</td>
                <td><input name="birthDate" th:type="date" value="2000-01-01"></td>
            </tr>
            <tr>
                <td>Do you allow us to process the data that you provide us with?</td>
                <td><input type="checkbox" name="dataProcessing" required></td>
            </tr>
            <tr>
                <td th:colspan="2">
                    <input type="submit" value="submit">
                </td>
            </tr>
        </table>
    </form>

    <div style="text-align: center">
        <p class="error" th:text="${error == null} ? '' : ${error}"></p>
    </div>
    <div style="text-align: center">
        <p>Already have an account? Log in <a th:href="@{/login}">here</a>.</p>
    </div>

</div>
</body>
</html>