<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- CSS only -->
  <link href="/../static/assets/style2.css" rel="stylesheet" th:href="@{/assets/style2.css}"/>

  <title>Gacha</title>
</head>
<body>
<div th:replace="game/fragments :: nav">
</div>

  <br>
  <div class="middle">

    <div class="exchange-container">
      <p th:text="${error != null} ? ${error} : ''" class="exchange-error"></p>
      <h3>Stamina Exchange</h3>
      <form th:action="@{/game/stamina-exchange}" method="post">
        <p>Exchange: $<input type="number" name="amount" id="amount" max="1000" oninput="calcStam()"> to <span id="stam">0</span> stamina
        </p>
        <input type="submit" value="Exchange" class="exchange-button">
      </form>
    </div>
  </div>
</div>
<input type="hidden" name="ratio" id="ratio" th:value="${ratio}">
</body>
<script type="text/javascript">
  var amount = document.getElementById('amount');
  var stam = document.getElementById('stam');
  var ratio = document.getElementById('ratio');

  function calcStam(){
    if (amount.value > 1000){
      amount.value = 1000
    }
    if (amount.value<1) {
      amount.value = 1
    }
    stam.textContent = (amount.value * ratio.value)
  }
</script>
</html>