<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/gacha</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.gachaapi.Entity.Affilation"/>
    <mapping class="com.gachaapi.Entity.Artefact"/>
    <mapping class="com.gachaapi.Entity.Character"/>
    <mapping class="com.gachaapi.Entity.Chest"/>
    <mapping class="com.gachaapi.Entity.Clazz"/>
    <mapping class="com.gachaapi.Entity.Collection"/>
    <mapping class="com.gachaapi.Entity.Dungeon"/>
    <mapping class="com.gachaapi.Entity.Dungeonfloor"/>
    <mapping class="com.gachaapi.Entity.Element"/>
    <mapping class="com.gachaapi.Entity.Ingamecurrencypurchase"/>
    <mapping class="com.gachaapi.Entity.Material"/>
    <mapping class="com.gachaapi.Entity.MaterialReward"/>
    <mapping class="com.gachaapi.Entity.Materialaffilation"/>
    <mapping class="com.gachaapi.Entity.Materialclass"/>
    <mapping class="com.gachaapi.Entity.Materialelement"/>
    <mapping class="com.gachaapi.Entity.Materialweaponclass"/>
    <mapping class="com.gachaapi.Entity.Party"/>
    <mapping class="com.gachaapi.Entity.Paymentmethod"/>
    <mapping class="com.gachaapi.Entity.Player"/>
    <mapping class="com.gachaapi.Entity.PlayerArtefact"/>
    <mapping class="com.gachaapi.Entity.PlayerCharacter"/>
    <mapping class="com.gachaapi.Entity.PlayerChestitem"/>
    <mapping class="com.gachaapi.Entity.PlayerDungeonfloor"/>
    <mapping class="com.gachaapi.Entity.PlayerMaterial"/>
    <mapping class="com.gachaapi.Entity.PlayerPurchase"/>
    <mapping class="com.gachaapi.Entity.PlayerWeapon"/>
    <mapping class="com.gachaapi.Entity.Rarity"/>
    <mapping class="com.gachaapi.Entity.Set"/>
    <mapping class="com.gachaapi.Entity.StatArtefactset"/>
    <mapping class="com.gachaapi.Entity.StatArtifact"/>
    <mapping class="com.gachaapi.Entity.StatClass"/>
    <mapping class="com.gachaapi.Entity.StatWeapon"/>
    <mapping class="com.gachaapi.Entity.Statistic"/>
    <mapping class="com.gachaapi.Entity.Weapon"/>
    <mapping class="com.gachaapi.Entity.WeaponReward"/>
    <mapping class="com.gachaapi.Entity.Weaponclass"/>
    <mapping class="com.gachaapi.Entity.ArtefactReward"/>

    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>