<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" />
    <title>Dev Affiliation</title>
</head>
<body>
<div>
    <h1>Dev Affiliation</h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <p class="center" th:text="${error != null} ? ${error} : ''"></p>
    <form th:action="@{/dev/affiliation}" th:method="post" th:object="${newAffiliation}">
        <h3>Name:</h3><br>
        <input th:type="text" name="name" required><br>
        <h3>Requirement:</h3><br>
        <input th:type="number" name="requirement" required><br>
        <input type="submit" value="submit"><br>
    </form>
    <div>
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Requirement</td>
                <td>Stats</td>
                <td>Material</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${affiliationList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.requirement}"></td>
                <td><a th:href="@{'/dev/affiliation/stats/'+${item.id}}">
                    <button>Manage</button>
                </a></td>
                <td><a th:href="@{'/dev/affiliation/material/'+${item.id}}">
                    <button>Manage</button>
                </a> </td>
                <td><a th:href="@{'/dev/affiliation/delete/'+${item.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>