<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" />
    <title>Dev Dungeons</title>
</head>
<body>
<div>
    <h1>Dev Dungeon</h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <p class="center" th:text="${error != null} ? ${error} : ''"></p>
    <form th:action="@{/dev/dungeon}" th:method="post" th:object="${newDungeon}">
        <h2>Name:</h2><br>
        <input th:type="text" name="name" required><br>
        <h2>Type:</h2><br>
        <select name="type">
            <option value="EVENT">EVENT</option>
            <option value="MAIN">MAIN</option>
            <option value="DAILY">DAILY</option>
            <option value="WEEKLY">WEEKLY</option>
            <option value="INFINITE">INFINITE</option>
        </select>
        <h2>Released at:</h2><br>
        <input th:type="date" name="releasedAt" required><br>
        <h2>Expires at:</h2><br>
        <input th:type="date" name="expiresAt" required><br>
        <input type="submit" value="submit"><br>
    </form>
    <div >
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Type</td>
                <td>Released at</td>
                <td>Expires at</td>
                <td>Delete</td>


            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${dungeonList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.type}"></td>
                <td th:text="${item.releasedAt}"></td>
                <td th:text="${item.expiresAt}"></td>
                <td><a th:href="@{'/dev/dungeon/delete/'+${item.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>