<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gacha Dev Menu</title>
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet"/>
</head>
<body>
<h1 class="center">Dev Menu</h1>
<div class="center">
    <table>
        <thead>
        <tr>
            <th class="head-cell">Name</th>
            <th class="head-cell">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${Nav}">
            <td th:text="${item.name}"></td>
            <td><a th:href="${item.link}"><button th:text="Link"></button></a> </td>
        </tr>
        <tr><td colspan="2"><a th:href="@{/logout}"><button>Logout</button></a></td></tr>
        </tbody>
    </table>
</div>

</body>
</html>