<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" />
    <title>Dev Rarity</title>
</head>
<body>
<div>
    <h1>Dev Rarity</h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <form th:action="@{/dev/rarity}" th:method="post" th:object="${newRarity}">
        <h3>Name:</h3><br>
        <input th:type="text" name="name" required><br>
        <h3>Short Name (3 capital letters):</h3><br>
        <input th:type="text" name="shortcut" required><br>
        <h3>Weight</h3>
        <input th:type="number" name="weight" required><br>
        <input type="submit" value="submit"><br>
    </form>
    <div>
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Short Name</td>
                <td>Weight</td>
                <td>delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${rarityList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.shortcut}"></td>
                <td th:text="${item.weight}"></td>
                <td><a th:href="@{'/dev/rarity/delete/'+${item.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>