<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" />
    <title th:text="${artefact.name}"></title>
</head>
<body>
<div>
    <h1>Dev <span th:text="${artefact.name}"></span></h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <form th:action="@{/dev/artefact/sets}" th:method="post" th:object="${newArtefactSet}">
        <input th:type="hidden" name="artefactId" th:value="${artefact.id}" />
        <h3>Set:</h3>
        <select name="setId" required>
            <option th:each="item : ${setList}" th:value="${item.id}" th:text="${item.name}" ></option>
        </select>
        <input type="submit" value="submit"><br>
    </form>
    <div>
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${artefact.sets}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td><a th:href="@{'/dev/artefact/sets/delete/'+${item.id}+'/'+${artefact.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>