<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{style.css}" rel="stylesheet" />
    <title th:text="${affiliation.name}"></title>
</head>
<body>
<div>
    <h1>Dev Affiliation <span th:text="${affiliation.name}"></span></h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <form th:action="@{/dev/affiliation/stats}" th:method="post" th:object="${newAffiliationStat}">
        <input th:type="hidden" name="affiliationId" th:value="${affiliation.id}"/>
        <h3>Stat:</h3>
        <select name="statId" required>
            <option th:each="item : ${statList}" th:value="${item.statId}" th:text="${item.name}"></option>
        </select>
        <h3>Value:</h3>
        <input th:type="number" name="value" required><br>
        <input type="submit" value="submit"><br>
    </form>
    <div >
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Stat</td>
                <td>Value</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${affiliation.statAffiliations}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.statistic.shortName}"></td>
                <td th:text="${item.value}"></td>
                <td><a th:href="@{'/dev/affiliation/stats/delete/'+${item.id}+'/'+${affiliation.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>