<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" />
    <title th:text="${weapon.name}"></title>
</head>
<body>
<div>
    <h1>Dev Weapon <span th:text="${weapon.name}"></span></h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <form th:action="@{/dev/weapon/stats}" th:method="post" th:object="${newStatWeapon}">
        <input th:type="hidden" name="weaponId" th:value="${weapon.id}"/>
        <h3>Stat:</h3>
        <select name="statId" required>
            <option th:each="item : ${statList}" th:value="${item.statId}" th:text="${item.name}"></option>
        </select>
        <h3>Value:</h3>
        <input th:type="number" name="value" required><br>
        <input type="submit" value="submit"><br>
    </form>
    <div >
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Stat</td>
                <td>Value</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${weapon.stats}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.statisticByStatisticStatId.shortName}"></td>
                <td th:text="${item.value}"></td>
                <td><a th:href="@{'/dev/weapon/stats/delete/'+${item.id}+'/'+${weapon.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>