<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link th:href="@{/assets/style.css}" rel="stylesheet" />
    <title>Dev Weapon Classes</title>
</head>
<body>
<div>
    <h1>Dev Weapon Class</h1>
    <h3><a th:href="@{/dev/menu}">Back to menu</a></h3>
    <form th:action="@{/dev/weaponClass}" th:method="post" th:object="${newWeaponClass}">
        <h2>Name:</h2><br>
        <input th:type="text" name="name" required><br>
        <h2>Short Name (3 capital letters):</h2><br>
        <input th:type="text" name="shortName" required><br>
        <input type="submit" value="submit"><br>
    </form>
    <div >
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Short Name</td>
                <td>Materials</td>
                <td>Delete</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${weaponClassList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.shortName}"></td>
                <td><a th:href="@{'/dev/weaponClass/material/'+${item.id}}">
                    <button>Manage</button>
                </a> </td>
                <td><a th:href="@{'/dev/weaponClass/delete/'+${item.id}}">
                    <button>Delete</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>