body {
    background-color: #222;
    color: darkgray;
}

a {
    color: deeppink;
}
h1 {
    color: crimson;
}
select {
    background-color: crimson;
    color: azure;
}
input {
    background-color: crimson;
    color: azure;
}
thead td {
    background-color: crimson;
    color: azure;
    font-weight: bold;
}
td {
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: crimson;
}

button {
    border-width: medium;
    border-color: crimson;
    background-color: #222;
    border-radius: 3px;
    color: azure;
}