
html {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    background-attachment: fixed;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: darkgrey;
}

.main {
    top: 0px;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    border-top: 0px;
    border-left: 2px outset #445566;
    border-right: 2px outset #445566;
    width: 93%;
    max-width: 1400px;
    background: rgba(255, 255, 255, 0.6);
}

.header {
    margin: 0px;
    background-size: 100% 100%;
    float: left;

}

.heading_1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 1.5em;
    font-weight: bold;
    color: #000000;
}

.outer {
    align-items: stretch;
    display: flex;
}

.inner {
    align-items: center;
    display: flex;
}

.playerinfo {
    border: 2px solid green;
    width: 80%;
    vertical-align: middle;
    background: lightgrey;
}

.currencytab {
    border: 2px solid green;
    display: flex;
    align-items: center;
    background: lightgrey;


}

.headertable {
    width: 80vw;
    height: 20vh;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    vertical-align: top;
    border-spacing: 50px;
}

.navtable {
    width: 94vw;
    height: 30vh;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    vertical-align: top;
    border-spacing: 50px;
    position: absolute;
    bottom: 0px;
}

.navfield {
    width: 20%;
    background: darkgrey;
    text-align: center;
    border: 2px solid green;
    border-spacing: 10px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
.navfield:hover{
background: dimgrey;
}

.navfields {
    padding-right: 20%;
    padding-left:20%;
    width: 30%;
    background: darkgrey;
    text-align: center;
    border-spacing: 10px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
.navfields:hover{
    background: dimgrey;
}

.temps{
    padding-left: 15vw;

    width: 70vh;
    border:2px solid black;
}

.rightAlign {
    text-align: right;
    vertical-align: top;
    padding-right: 2%;
    padding-top: 2%;
}

.border {
    border: 2px solid green;
    width: 100%;
    height: 100%;
}

.container {

}

.middle {
   /* border: 1px solid black;*/
    width: 100%;
    height: 50vh;
    margin-top: 20vh;
    margin-bottom: 30vh;
    /*replace*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 50vh;
    align-content: center;
    text-align: center;
    vertical-align: bottom;
}

.container#shop1.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup1 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 80vw;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: grey;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#popup1.active {
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

#popup2 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 80vw;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: grey;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#popup2.active {
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

#popup3 {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 40vw;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: grey;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

#popup3.active {
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

#popup4 {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 40vw;
    padding: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: grey;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    overflow-y: auto;
}

#popup4.active {
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}

.shoptable {
    width: 100%;
    height: 80%;
}

.pricing {
    display: flex;
    justify-content: space-evenly;

}

.pricintfield {
    background: lightgrey;
    text-align: center;
    border: 2px solid green;
    margin-left: 1vw;
    margin-right: 1vw;
    vertical-align: top;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.settingList {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: column;

}

.settingField {
    background: lightgrey;
    text-align: center;
    border: 2px solid green;
    vertical-align: middle;


}

.pagename {
    width: 100%;
    text-align: center;
}

.middleb {
    /*border: 1px solid black; */
    width: 90%;
    height: 70vh;
    overflow-y: auto;
    align-content: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;

}

.navtableb {
    width: 94vw;
    height: 10vh;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    vertical-align: top;
    border-spacing: 50px;

}

.listTable {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;

}

.listTable#tr {
    width: 100%;
    background-color: lightgrey;

}

table.listTable td {
    border: 1px solid black;
    /* width: 20%; */
    vertical-align: middle;
    background-color: lightgrey;

}

#listTable {
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;

}

#listTable#tr {
    width: 100%;
    background-color: lightgrey;

}

table#listTable td {
    border: 1px solid black;
    /* width: 20%; */
    vertical-align: middle;
    background-color: lightgrey;

}



.box {
    display: flex;
    align-items: center;
}

.dungeonList {
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
    background: lightgrey;

}

table.dungeonList tr {
    padding-top: 105px;
    vertical-align: middle;


}

table.dungeonList td {
    vertical-align: middle;
    background: lightgrey;

}



.playerDetail {
    margin-left:10% ;
    width: 80%;
    border-spacing: 20px;
}

table.playerDetail tr {
    padding-top: 105px;
    vertical-align: middle;


}
table.playerDetail td.party-cell {
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
}

table.playerDetail td {
    vertical-align: middle;
    background: lightgrey;
    width: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid green;
}

.eq-nav-field {

    border: 2px solid green;
    background: lightgrey;
    text-align: center;
}
.eq-nav-field:hover{
    background-color: #9c9c9c;

}
.table-nav-link {
    text-underline: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: italic;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.eq-nav-table {
    margin-left: 15vw;
    float: left;
    bottom: 0;
    width: 65vw;
    height: 55vh;
}
.eq-middle {
    /*border: 1px solid black; */
    float: left;
    text-align: center;
    justify-content: center;
}
.float-right {
    float: right;
}

.artefact-list{
    width: 50vw;
    margin-left: 18vw;
    height: 100px;
    list-style: none;
}

details {
    margin-bottom: 15px;
    border: green 2px solid ;
    background-color: lightgray;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
details:hover{

    background-color: #9c9c9c;
}
details[open]:hover{
    background-color: lightgray;
}

details[open] summary:hover {
    background-color: #9c9c9c;
}
summary {
    text-align: left;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid green;
    margin-bottom: 0.5em;
}

.artefact-details-paragraph{
    text-align: left;
    border-bottom: 1px solid green;
}

.character-details-paragraph {
    text-align: left;
}

.bold {
    font-weight: bold;
}
.error {
    font-weight: bolder;
    color: crimson;
    margin-left: 18vw;
    width: 55vw;
}
.eq-back-table {
    margin-left: 15vw;
    float: left;
    width: 65vw;
    margin-bottom: 15px;
}

.material-list {
    width: 50vw;
    margin-left: 18vw;

    list-style: none;
}

.material-entry {
    border: green solid 2px;
    background-color: lightgray;
}

.manage-button {
    height: 100%;
    width: 40%;
    text-align: right;
    background-color: green;
    border-color: green;
    color: lightgray;
    justify-self: right;
    float: right;
    border-radius: 4px;
}
.manage-button:hover {
    background-color: darkgreen;
}


.character-general {
    font-weight: bold;
    float: left;
}

.character-artefacts {
    float: right;
    text-align: left;

}
.character-table {
    width: 50vw;
    margin-left: 18vw;
    border: green 2px solid;
    background-color: #9c9c9c;
    table-layout: fixed;
}
.character-table td {
    border: green 2px solid;
    background-color: lightgray;
    padding: 2px;
}
.character-stats {
    float: right;
    text-align: right;
}
.character-info {
    float: left;
    text-align: left;
}
.underline {
    text-decoration: underline;
}
.character-table th {
    font-weight: normal;
    background-color: lightgray;
    border: green 2px solid;
    padding: 2px;
}

.nav-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: green;
    display: block;
}
.nav-link-current {
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    color: black;
    display: block;
}
.weapon-select {
    height: 100%;
    width: 100%;
    background-color: green;
    color: lightgray;
}
.artefact-name{
    font-weight: bold;
}
.artefact-name-italic{
    font-weight: bold;
    font-style: italic;
}
.party-list{
    width: 50vw;
    margin-left: 18vw;
    list-style: none;
}
.party-character-table{
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-style: italic;
    border-collapse: collapse;
}

.party-float-left {
    float: left;
    text-align: left;
}
.party-float-right {
    float: right;
    text-align: right;
}


.party-character-table td {
    border: 1px solid green;

}
.party-character-table tr:first-child td {
    border-top: 0;
}
.party-character-table tr td:first-child{
    border-left: 0;
}
.party-character-table tr td:last-child{
    border-right: 0;
}
.party-character-table tr:last-child td {
    border-bottom: 0;
}

.character-name-italic{
    font-weight: bold;
    font-style: italic;
}
.character-table .head-cell {
    background-color: green;
    color: lightgray;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.pvp-opponent-party-list{
    float: right;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.opponent-info{
    font-weight: bold;
    vertical-align: middle;
    min-height: 20%;
}
.opponent-float-left{
    float: left;
    text-align: left;
    vertical-align: middle;
}

.opponent-list {
    margin-left: 18vw;
    width: 55vw;
    border-spacing: 2px;
}

table.opponent-list tr {
    padding-top: 105px;
    vertical-align: middle;


}

table.opponent-list tr td {
    vertical-align: middle;
    background: lightgrey;
    border: green 2px solid;
}

.pvp-battle-log {
    margin-left: 18vw;
    width: 55vw;
    background-color: lightgray;
    border: green 2px solid;
    text-align: left;
}
.pvp-entry{
    width: 100%;
    background-color: lightgray;
}
.pvp-entry-attacker{
    width: 100%;
    background-color: lightgreen;
}
.pvp-entry-defender{
    width: 100%;
    background-color: lightcoral;
}
.pvp-result{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.opponent-row {
    border: green 2px solid;

}

#premium-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.premium-content{
    position: relative;
    width: 55vw;
    background-color: lightgray;
    border: green 2px solid;
    text-align: center;
    padding-bottom: 15px;
    align-items: center;
}
.premium-close-button {
    border: green 2px solid;
    background-color: green;
    color: lightgray;
    float: right;
}
.premium-close-button:hover{
    background-color: darkgreen;
    border: darkgreen 2px solid;
}

.premium-close-button-2{
    margin-top: 15px;
    border: green 2px solid;
    background-color: green;
    color: lightgray;
    align-items: center;
}
.premium-close-button-2:hover{
    background-color: darkgreen;
    border: darkgreen 2px solid;
}

.premium-entry {
    font-weight: bold;
    font-style: italic;
}
.premium-content h1 {
    text-align: center;
    border-bottom: green 1px solid;
}
.exchange-container{
    margin-left: 18vw;
    width: 55vw;
    border: green 2px solid;
    padding: 15px;
    background-color: lightgray;
    margin-top: 30vh;
}
#amount{
    width: 50px;
    border: green 1px solid;
    font-style: italic;
    font-weight: bold;
}
.exchange-button {
    background-color: green;
    width: 100px;
    color: lightgray;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 3px;
}
.exchange-button:hover {
    background-color: darkgreen;
}
.exchange-error{
    color: red;
}

.character-levelup-cost{
    display: block;
align-items: center;
}
.character-levelup-button{
    width: 100%;
    height: 100%;
    border: none;
    padding: 3px;
    background-color: green;
    color: lightgray;
    font-weight: bold;
}
.character-levelup-button:hover{
    background-color: darkgreen;
}
.float-left{
    float: left;
}
.fill{
    width: 100%;
    height: 100%;
}
#reward-container{
    font-size: large;
    width: 55vw;
    margin-left: 18vw;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: green;
    border: green 2px solid;
    min-height: 350px;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.reward-close-button{
    border: green 2px solid;
    background-color: green;
    color: lightgray;
}
#reward{
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
    opacity: 0;
}

.chest-button {
    background-color: green;
    border-color: green;
    color: lightgray;
    border-radius: 4px;
    padding: 5px;
    font-size: large;
}
.chest-button:hover {
    background-color: darkgreen;
}

.userdetails {
    display: block;
    font-size: 1.0em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.logout-box {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}