<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="/assets/style2.css" th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>

<body>
<div class="container"  id="shop1">
    <div>
        <table class='headertable'>
            <tr>
                <td class="playerinfo"  rowspan= 2>
                    <table class="border">
                        <tr>
                            <td class="pagename" colspan="5"><h2 th:text="'Greetings, '+${player.nick}"></h2></td>
                        </tr>
                        <tr>
                            <td class="navfield"><a th:href="@{/game/home}" class="nav-link">Home</a> </td>
                            <td class="navfield"><a th:href="@{/game/equipment}" class="nav-link-current">Equipment</a> </td>
                            <td class="navfield"><a th:href="@{/game/chests}" class="nav-link">Chests</a> </td>
                            <td class="navfield"><a th:href="@{/game/dungeons}" class="nav-link">PvE</a></td>
                            <td class="navfield"><a th:href="@{/game/pvp}" class="nav-link">PvP</a> </td>
                        </tr>
                    </table>
                </td>

                <!-- currency -->
                <td class="currencytab"><a href="#" onclick="toggle()"><img src="../../static/images/plus.png" th:src="@{../../images/plus.png}" alt="Add shit" style="width:42px;height:42px;"></a>
                    <span th:text="${player.PlayerBalance}+'$'"/></td>
                <td><a href="#" onclick="toggle3()"><img src="../../static/images/cog.png"  th:src="@{../../images/cog.png}" alt="Options" style="width:42px;height:42px;"></a></td>
            </tr>
            <tr>
                <!-- stamina-->
                <td class="currencytab"><a href="#" onclick="toggle2()"><img src="../../static/images/plus.png"  th:src="@{../../images/plus.png}" alt="Add shit" style="width:42px;height:42px;"></a>
                    <span th:text="'Stamina:'+${player.Stamina}+'/100'"/>
                </td>
            </tr>

        </table>
    </div>
    <div class="eq-middle">
        <p th:text="${error != null} ? ${error} : ''" class="error"></p>
        <ul class="artefact-list">
            <li th:each="item : ${player.playerCharacters}">
                <details>
                    <summary>
                        <span th:text="${item.character.name}+' lvl'+${item.lvl}"></span>
                        <a th:href="@{'/game/equipment/characters/'+${item.id}}"><button class="manage-button">Manage Character</button></a>
                    </summary>
                    <p class="character-details-paragraph">
                        <span class="character-general">Class: </span>
                        <span th:text="'&emsp;'+${item.character.characterClass.name}"></span><br>
                        <span class="character-general">Wielded weapon: </span>
                        <span th:text="${item.wieldedWeapon != null} ? '&emsp;'+${item.wieldedWeapon.weapon.name}+' lvl:'+${item.wieldedWeapon.lvl} : '&emsp; none'"></span><br>
                        <span class="character-general">Artefacts:</span>
                        <span  th:each="art : ${item.playerArtefacts}" th:utext="'<br>&emsp;'+${art.artefact.name}"></span>
                    </p>
                </details>
            </li>
        </ul>
    </div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div>
        <br>
        <div class="settingField">Twórcy</div>
        <br>
        <div class="settingField">Wyloguj</div>
        <br>
        <div class="settingField"><a href="#" onclick="toggle3()">Wróć</a></div>
    </div>
</div>
</body>
<script type="text/javascript">

    function toggle3() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3 = document.getElementById('popup3');
        popup3.classList.toggle('active');
    }
</script>
</html>