<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="/assets/style2.css" th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>

<body>
<div th:replace="game/fragments :: nav">
</div>
    <div class="eq-middle">
        <input type="text" id="textInput" onkeyup="textSearch()" placeholder="Search for characters" style="width:33%;margin-left: 33%;margin-right: 33%;">

        <p th:text="${error != null} ? ${error} : ''" class="error"></p>
        <ul class="artefact-list" id="charList">
            <li th:each="item : ${player.playerCharacters}">
                <details>
                    <summary>
                        <span th:text="${item.character.name}+' lvl'+${item.lvl}"></span>
                        <a th:href="@{'/game/equipment/characters/'+${item.id}}"><button class="manage-button">Manage Character</button></a>
                    </summary>
                    <p class="character-details-paragraph">
                        <span class="character-general">Class: </span>
                        <span th:text="'&emsp;'+${item.character.characterClass.name}"></span><br>
                        <span class="character-general">Wielded weapon: </span>
                        <span th:text="${item.wieldedWeapon != null} ? '&emsp;'+${item.wieldedWeapon.weapon.name}+' lvl:'+${item.wieldedWeapon.lvl} : '&emsp; none'"></span><br>
                        <span class="character-general">Artefacts:</span>
                        <span  th:each="art : ${item.playerArtefacts}" th:utext="'<br>&emsp;'+${art.artefact.name}"></span>
                    </p>
                </details>
            </li>
        </ul>
    </div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div>
        <br>
        <div class="settingField">Twórcy</div>
        <br>
        <div class="settingField">Wyloguj</div>
        <br>
        <div class="settingField"><a href="#" onclick="toggle3()">Wróć</a></div>
    </div>
</div>
</body>
<script type="text/javascript">

    function toggle3() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3 = document.getElementById('popup3');
        popup3.classList.toggle('active');
    }

    function textSearch() {
        var input, filter, ul, li, info, i, txtValue;
        input = document.getElementById('textInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("charList");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            //TO WEŹMIE PIERWSZY SPAN, JAK ZOSTANIE DODANY KOLEJNY SPAN PRZED NAME, TRZEBA ZMIENIC
            info = li[i].getElementsByTagName("span")[0];
            txtValue = info.textContent || info.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
</html>