<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="/assets/style2.css" th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>

<body>
<div th:replace="game/fragments :: nav">
</div>
    <br>
    <div class="eq-middle">
        <table class="eq-nav-table">
            <tr>
                <td class="eq-nav-field"><a th:href="@{/game/equipment/parties}" class="table-nav-link">Parties</a></td>
                <td class="eq-nav-field"><a th:href="@{/game/equipment/characters}" class="table-nav-link">Characters</a></td>
            </tr>
            <tr>
                <td class="eq-nav-field"><a th:href="@{/game/equipment/weapons}" class="table-nav-link">Weapons</a></td>
                <td class="eq-nav-field"><a th:href="@{/game/equipment/artefacts}" class="table-nav-link">Artefacts</a></td>
            </tr>
            <tr>
                <td class="eq-nav-field"><a th:href="@{/game/equipment/materials}" class="table-nav-link">Materials</a></td>
            </tr>
        </table>
    </div>
    <div>
        <table class="eq-back-table">
            <tr>
                <td class="eq-nav-field"><a th:href="@{/game/home}" class="table-nav-link">Wróć</a></td>

            </tr>
        </table>
    </div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div>
        <br>
        <div class="settingField">Twórcy</div>
        <br>
        <div class="settingField">Wyloguj</div>
        <br>
        <div class="settingField"><a href="#" onclick="toggle3()">Wróć</a></div>
    </div>
</div>
</body>
<script type="text/javascript">

    function toggle3() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3 = document.getElementById('popup3');
        popup3.classList.toggle('active');
    }
</script>
</html>