<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <!-- CSS only -->
    <link rel="stylesheet" href="/assets/style2.css" th:href="@{/assets/style2.css}"/>

    <title>Gacha</title>
</head>

<body>
<div th:replace="game/fragments :: nav">
</div>
    <div class="eq-middle">
        <input type="text" id="textInput" onkeyup="textSearch()" placeholder="Search for weapons" style="width:33%;margin-left: 33%;margin-right: 33%;">
        <p th:text="${error != null} ? ${error} : ''" class="error"></p>
        <ul class="artefact-list" id="wpnList">
            <li th:each="item : ${playerWeapons}">
                <details>
                    <summary th:text="${item.key.weapon.name}+' lvl'+${item.key.lvl}"></summary>
                    <p class="artefact-details-paragraph">
                        <span class="bold">Weapon Class: </span>
                        <span th:text="${item.key.weapon.weaponClass.name}"></span><br>
                        <span class="bold">Rarity: </span>
                        <span th:text="${item.key.weapon.rarity.name}"></span><br>
                        <span class="bold">Element: </span>
                        <span th:text="${item.key.weapon.element.name}"></span><br>
                        <span class="bold">Wielded by: </span>
                        <span th:text="${item.key.wieldingCharacter != null} ?
                        ${item.key.wieldingCharacter.character.name}+' lvl'+${item.key.wieldingCharacter.lvl} : 'none'"></span><br>
                        <span class="bold">Stats: </span>
                        <span th:each="stat : ${item.key.weapon.stats}"
                              th:text="'&emsp;'+${stat.stat.shortName}+': '+${stat.value * item.key.lvl}"></span><br>
                    </p>
                    <p>
                        <span class="bold">Level up:</span><br>
                        Cost:<br>
                        <span th:each="cost : ${item.value}">
                            <span th:text="${cost.key.name}+': '+${cost.value}+' /'"></span>
                            <span th:text="${materialMap.containsKey(cost.key.name)} ? ${materialMap.get(cost.key.name)} : '0'"></span><br>
                        </span>
                        <a th:href="@{'/game/equipment/weapons/level-up/'+${item.key.id}}">
                            <button>Confirm</button>
                        </a>
                    </p>
                </details>
            </li>
        </ul>
    </div>
</div>
<div id="popup3">
    <div class="settingList">
        <div class="settingField">Opcje</div>
        <br>
        <div class="settingField">Twórcy</div>
        <br>
        <div class="settingField">Wyloguj</div>
        <br>
        <div class="settingField"><a href="#" onclick="toggle3()">Wróć</a></div>
    </div>
</div>
</body>
<script type="text/javascript">

    function toggle3() {
        var blur = document.getElementById('shop1');
        blur.classList.toggle('active');
        var popup3 = document.getElementById('popup3');
        popup3.classList.toggle('active');
    }
    function textSearch() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('textInput');
        filter = input.value.toUpperCase();
        ul = document.getElementById("wpnList");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            //TO WEŹMIE PIERWSZY SPAN, JAK ZOSTANIE DODANY KOLEJNY SPAN PRZED NAME, TRZEBA ZMIENIC
            a = li[i].getElementsByTagName("summary")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
</html>